<!doctype html>
<html lang="EN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Subsidies</title>
    <meta name="description" content="Subsidies">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.0/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="/static/styles/main.css">
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <article>
      <div class="container">
        <section class="col-sm-12" id="table">
          <table id="subs_list" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Overheid</th>
                <th>Ontvanger</th>
                <th>Realisatie</th>
                <th>Jaar</th>
                <th>Regeling</th>
                <th>Beleid</th>
              </tr>
            </thead>
            <tbody>
              {% for d in data %}
              <tr>
                <th>{{d.overheid}}</th>
                <th>{{d.ontvanger}}</th>
                <th>{{d.realisatie}}</th>
                <th>{{d.jaar}}</th>
                <th>{{d.regeling}}</th>
                <th>{{d.beleid}}</th>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th>Overheid</th>
                <th>Ontvanger</th>
                <th>Realisatie</th>
                <th>Jaar</th>
                <th>Regeling</th>
                <th>Beleid</th>
              </tr>
            </tfoot>
          </table>
        </section>
      </div>
    </article>

    <!-- SCRIPTS -->

    <!-- jQuery Script -->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- DataTables Scripts -->
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <!-- Datatables: buttons js: -->
    <script src="https://cdn.datatables.net/buttons/1.2.0/js/dataTables.buttons.min.js"></script>

    <!-- accounting.js -->
    <script src="/static/scripts/accounting.min.js"></script>

    <!-- Custom Scripts -->
    <script src="/static/scripts/datatables_script.js"></script>
  </body>
</html>
